body{
	font-family: sans-serif;
	margin: 0;
}
header{
	background: #00795f;
	width: 100%;
	color: white;
	padding: 40px 0;
	text-align: center;
	position: fixed;

}
section{
	text-align: justify;
	font-family: sans-serif;
	font-size: 1em;
	padding: 40px 5px;
	width: 75%;
	margin: 0 auto;
}
div{
	padding: 50px;
	position: static;
	top: 10px;
}
li{
	list-style: none;
	display: inline-block;
	padding: 25px;
	//float: right;
}
ul{
	float: right;
}
a{
	text-decoration: none;
	color: white;
}
a:hover{
	color: yellow;
	text-decoration: underline;
};
